<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <style>
        .signin-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }
    </style>

    <body>

        <div class="container">
            <%- include('../partials/navbar') %>

                <form method="post">
                    <div class="signin-wrapper">
                        <div class="form-signin">
                            <h1 class="h4 mb-3 fw-normal">Petexpress.com</h1>
                            <div class="form-floating mt-1">
                                <input type="text" name="name" class="form-control">
                                <label for="name">Ad - Soyad</label>
                            </div>
                            <div class="form-floating mt-1">
                                <input type="email" name="email" class="form-control">
                                <label for="floatingInput">Eposta</label>
                            </div>
                            <div class="form-floating mt-1">
                                <input type="password" name="password" class="form-control">
                                <label for="floatingInput">Parola</label>
                            </div>
                            <div class="form-floating mt-1">
                                <input type="tel" name="phone" class="form-control">
                                <label for="floatingInput">Telefon Numarası</label>
                            </div>

                            <div class="form-floating mt-2">
                                <a href="/signin" class="form-link">Hesabım var</a>
                            </div>

                            <div class="form-floating mt-5">
                                <input type="submit" class="btn btn-primary" value="Kayıt Ol">
                            </div>

                        </div>
                    </div>
                </form>
        </div>

    </body>

</html>