<div class="reviews mt-3">
    <h1 class="h4">Yorumlar</h1>

    <div class="bg-body-tertiary p-2 text-white text-center mt-1">
        <div class="card text-center w-100" style="width: 18rem;">
            <div class="context-wrapper">
                <h1 class="h4 p-2">Bu ürüne ait herhangi bir yorum bulunmamaktadır.</h1>
            </div>
        </div>
    </div>

    <a href="/create/review/<%= product._id %>" class="btn btn-primary mt-3">Yorum yap</a>
</div>