<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navbar') %>

            <div class="container mt-5">
                <form method="post">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="title" class="form-label">Kategori Adı</label>
                            <input type="text" name="name" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Kategori Kapağı</label>
                            <input type="file" name="image" class="form-control">
                        </div>

                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Kategori Oluştur">
                        </div>
                    </div>
                </form>
            </div>

    </body>

    <%- include('../partials/script') %>

</html>