<div class="card" style="width: 18rem;">
  <img src="/uploads/<%= products.imageCover %>" class="card-img-top">
  <div class="card-body">
    <h1 class="card-title">
      <%= products.title %>
    </h1>
  </div>
</div>